.container {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-widt: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.logos {
  width: 26.25px;
  height: 26.25px;
  padding-right: 5%;
  display: inline-block;
}

#oiseaulogo {
  padding: 0px;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
header .row {
    margin-top: 1%;
    margin-bottom: 1%;
}
.col-1 {
    grid-column: span 1;
    align-items: center;
    border-right: solid 1px lightgray;
}
.col-2{
    grid-column: span 1;
}
.col-2{
    grid-column: span 1;
}
header a span {
  display: inline-block;
  vertical-align: middle;
}
header a {
  text-decoration: none;
  padding: 5px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}
header a:hover {
  background-color: gainsboro;
}
#Tweeter {
    padding: 10px;
    padding-right: 60px;
    padding-left: 60px;
    color: white;
    background-color: rgb(0, 140, 255);
    border: none;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

#Tweeter:active {
  background-color: rgb(19, 75, 205);
}
